[user]
	email = ben@bensimms.moe
	name = Ben Simms
	signingkey = 3C3A2E1E088D295B
[credential]
	helper = cache
[core]
	editor = nvim
	excludesfile = /home/ben/.gitignore
	autocrlf = input
[commit]
	gpgsign = true
[magit]
	hideCampaign = true
[github]
	user = nitros12
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	pushall = !git remote | xargs -L1 git push --all
	prunemerged = git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
